@font-face {
    font-family: 'wp-cookie-manager';
    src:  url('../fonts/wp-cookie-manager.eot?wm3k7m');
    src:  url('../fonts/wp-cookie-manager.eot?wm3k7m#iefix') format('embedded-opentype'),
      url('../fonts/wp-cookie-manager.ttf?wm3k7m') format('truetype'),
      url('../fonts/wp-cookie-manager.woff?wm3k7m') format('woff'),
      url('../fonts/wp-cookie-manager.svg?wm3k7m#wp-cookie-manager') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class*='dashicons-wcm-']:before{
	display: inline-block;
   font-family: 'wp-cookie-manager';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.dashicons-wcm-cookie-solid:before{
    content:'\e900';
    font-size: 20px;
}